@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-right: 10rem;
}

nav ul li a {
  color: black;
}

nav ul li a:active {
  font-weight: 800;
  text-decoration: blue;
}

.logo {
  width: 150px;
  height: 65px;
}

.card-img-top {
  height: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: auto;
}

.modal-header {
  align-items: flex-start;
}

.movie-img {
  width: 450px;
  height: 450px;
}

.close {
  outline: none;
  border: none;
  background-color: white;
}

.cross {
  font-size: 3rem;
}

.like {
  outline: none;
  border: none;
  background-color: white;
}

.multiple-likes {
  color: red;
}
